In [48]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder,StandardScaler,OneHotEncoder
import pickle

In [49]:
data=pd.read_csv("D:\Genai-lc-hf\Datasets\Churn_Modelling.csv")

In [50]:
# here i am predicting the estimated salary since it is a continuous value thus making this as a regression problem

# encode the categorical vars
label_encoder_gender=LabelEncoder()
data['Gender']=label_encoder_gender.fit_transform(data['Gender'])

In [51]:
#one-hot encoder 'Geography'
onehot_encoder_geo=OneHotEncoder(handle_unknown='ignore')
geo_encoder=onehot_encoder_geo.fit_transform(data[['Geography']]).toarray()
geo_encoded_df=pd.DataFrame(geo_encoder,columns=onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [52]:
#combining
data=pd.concat([data.drop('Geography',axis=1),geo_encoded_df],axis=1)

In [53]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,1,15634602,Hargrave,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,2,15647311,Hill,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,3,15619304,Onio,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,4,15701354,Boni,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,5,15737888,Mitchell,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [54]:
#splitting - Drop irrelevant columns that can't be scaled

# Drop RowNumber, CustomerId, Surname (non-numeric), EstimatedSalary (target), and Exited
X = data.drop(['RowNumber', 'CustomerId', 'Surname', 'EstimatedSalary', 'Exited'], axis=1)
y = data['EstimatedSalary']

In [55]:
## Split the data in training and tetsing sets
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

## Scale these features
scaler=StandardScaler()
X_train=scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [56]:
with open('label_encoder_gender.pkl','wb') as f:
    pickle.dump(label_encoder_gender,f)
with open('onehot_encoder_geo','wb') as f:
    pickle.dump(onehot_encoder_geo,f)
with open('scaler.pkl','wb') as f:
    pickle.dump(scaler,f)

ANN regression Problem Statement

In [57]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import  Dense

In [58]:
#model building
model=Sequential ([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),
    Dense(32,activation='relu'),
    Dense(1) #output layer for regression
    ])

#compile the model
model.compile(optimizer='adam',loss='mean_absolute_error',metrics=['mae'])

In [59]:
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_9 (Dense)             (None, 64)                768

 dense_10 (Dense)            (None, 32)                2080

 dense_11 (Dense)            (None, 1)                 33

=================================================================
Total params: 2881 (11.25 KB)
Trainable params: 2881 (11.25 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [60]:
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime
#setup tensor board

log_dir="logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback=TensorBoard(log_dir=log_dir,histogram_freq=1)

In [61]:
#setup early stopping 
early_stopping_callback=EarlyStopping(monitor='val_loss',patience=10,restore_best_weights=True)

In [62]:
#training

history=model.fit(
    X_train,y_train,
    validation_data=(X_test,y_test),
    epochs=100,
    callbacks=[early_stopping_callback, tensorflow_callback]  
)

Epoch 1/100
250/250 [==============================] - 2s 4ms/step - loss: 100394.2344 - mae: 100394.2344 - val_loss: 98574.3906 - val_mae: 98574.3906
Epoch 2/100
250/250 [==============================] - 1s 4ms/step - loss: 99804.7188 - mae: 99804.7188 - val_loss: 97347.9297 - val_mae: 97347.9297
Epoch 3/100
250/250 [==============================] - 1s 4ms/step - loss: 97622.1719 - mae: 97622.1719 - val_loss: 94107.0156 - val_mae: 94107.0156
Epoch 4/100
250/250 [==============================] - 1s 4ms/step - loss: 93230.4688 - mae: 93230.4688 - val_loss: 88591.7891 - val_mae: 88591.7891
Epoch 5/100
250/250 [==============================] - 1s 3ms/step - loss: 86651.3047 - mae: 86651.3047 - val_loss: 81171.3594 - val_mae: 81171.3594
Epoch 6/100
250/250 [==============================] - 1s 4ms/step - loss: 78542.3594 - mae: 78542.3594 - val_loss: 72854.8906 - val_mae: 72854.8906
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 70043.7500 - mae: 70043.7500 - val_loss: 64923.4375 - val_mae: 64923.4375
Epoch 8/100
250/250 [==============================] - 1s 4ms/step - loss: 62484.8906 - mae: 62484.8906 - val_loss: 58536.4023 - val_mae: 58536.4023
Epoch 9/100
250/250 [==============================] - 1s 4ms/step - loss: 56793.1602 - mae: 56793.1602 - val_loss: 54167.8945 - val_mae: 54167.8945
Epoch 10/100
250/250 [==============================] - 1s 4ms/step - loss: 53236.5117 - mae: 53236.5117 - val_loss: 51797.1289 - val_mae: 51797.1289
Epoch 11/100
250/250 [==============================] - 1s 4ms/step - loss: 51375.4062 - mae: 51375.4062 - val_loss: 50825.7383 - val_mae: 50825.7383
Epoch 12/100
250/250 [==============================] - 1s 4ms/step - loss: 50568.1914 - mae: 50568.1914 - val_loss: 50559.5586 - val_mae: 50559.5586
Epoch 13/100
250/250 [==============================] - 1s 4ms/step - loss: 50257.6992 - mae: 50257.6992 - val_loss: 50508.1172 - val_mae: 50508.1172
Epoch 14/100
250/250 [==============================] - 1s 4ms/step - loss: 50130.4609 - mae: 50130.4609 - val_loss: 50513.0430 - val_mae: 50513.0430
Epoch 15/100
250/250 [==============================] - 1s 4ms/step - loss: 50074.5469 - mae: 50074.5469 - val_loss: 50522.6992 - val_mae: 50522.6992
Epoch 16/100
250/250 [==============================] - 1s 4ms/step - loss: 50035.9297 - mae: 50035.9297 - val_loss: 50516.0000 - val_mae: 50516.0000
Epoch 17/100
250/250 [==============================] - 1s 4ms/step - loss: 50007.1680 - mae: 50007.1680 - val_loss: 50509.6328 - val_mae: 50509.6328
Epoch 18/100
250/250 [==============================] - 1s 4ms/step - loss: 49978.4648 - mae: 49978.4648 - val_loss: 50493.0625 - val_mae: 50493.0625
Epoch 19/100
250/250 [==============================] - 1s 4ms/step - loss: 49954.4258 - mae: 49954.4258 - val_loss: 50499.6406 - val_mae: 50499.6406
Epoch 20/100
250/250 [==============================] - 1s 4ms/step - loss: 49932.9766 - mae: 49932.9766 - val_loss: 50498.0586 - val_mae: 50498.0586
Epoch 21/100
250/250 [==============================] - 1s 3ms/step - loss: 49911.2148 - mae: 49911.2148 - val_loss: 50494.2891 - val_mae: 50494.2891
Epoch 22/100
250/250 [==============================] - 1s 4ms/step - loss: 49890.3984 - mae: 49890.3984 - val_loss: 50480.6914 - val_mae: 50480.6914
Epoch 23/100
250/250 [==============================] - 1s 4ms/step - loss: 49871.9766 - mae: 49871.9766 - val_loss: 50480.3008 - val_mae: 50480.3008
Epoch 24/100
250/250 [==============================] - 1s 4ms/step - loss: 49854.9375 - mae: 49854.9375 - val_loss: 50477.7891 - val_mae: 50477.7891
Epoch 25/100
250/250 [==============================] - 1s 4ms/step - loss: 49840.5000 - mae: 49840.5000 - val_loss: 50472.0859 - val_mae: 50472.0859
Epoch 26/100
250/250 [==============================] - 1s 4ms/step - loss: 49822.4727 - mae: 49822.4727 - val_loss: 50471.2344 - val_mae: 50471.2344
Epoch 27/100
250/250 [==============================] - 1s 4ms/step - loss: 49805.3008 - mae: 49805.3008 - val_loss: 50467.1680 - val_mae: 50467.1680
Epoch 28/100
250/250 [==============================] - 1s 4ms/step - loss: 49794.3164 - mae: 49794.3164 - val_loss: 50461.0664 - val_mae: 50461.0664
Epoch 29/100
250/250 [==============================] - 1s 4ms/step - loss: 49780.1328 - mae: 49780.1328 - val_loss: 50460.2930 - val_mae: 50460.2930
Epoch 30/100
250/250 [==============================] - 1s 4ms/step - loss: 49768.3242 - mae: 49768.3242 - val_loss: 50450.0664 - val_mae: 50450.0664
Epoch 31/100
250/250 [==============================] - 1s 4ms/step - loss: 49756.6445 - mae: 49756.6445 - val_loss: 50449.0195 - val_mae: 50449.0195
Epoch 32/100
250/250 [==============================] - 1s 4ms/step - loss: 49745.6523 - mae: 49745.6523 - val_loss: 50440.5469 - val_mae: 50440.5469
Epoch 33/100
250/250 [==============================] - 1s 4ms/step - loss: 49737.9531 - mae: 49737.9531 - val_loss: 50443.6719 - val_mae: 50443.6719
Epoch 34/100
250/250 [==============================] - 1s 4ms/step - loss: 49724.9766 - mae: 49724.9766 - val_loss: 50435.5625 - val_mae: 50435.5625
Epoch 35/100
250/250 [==============================] - 1s 4ms/step - loss: 49714.3750 - mae: 49714.3750 - val_loss: 50434.9141 - val_mae: 50434.9141
Epoch 36/100
250/250 [==============================] - 1s 4ms/step - loss: 49705.1992 - mae: 49705.1992 - val_loss: 50439.3398 - val_mae: 50439.3398
Epoch 37/100
250/250 [==============================] - 1s 4ms/step - loss: 49697.6250 - mae: 49697.6250 - val_loss: 50433.0508 - val_mae: 50433.0508
Epoch 38/100
250/250 [==============================] - 1s 4ms/step - loss: 49689.3750 - mae: 49689.3750 - val_loss: 50431.3242 - val_mae: 50431.3242
Epoch 39/100
250/250 [==============================] - 1s 4ms/step - loss: 49681.2383 - mae: 49681.2383 - val_loss: 50423.4414 - val_mae: 50423.4414
Epoch 40/100
250/250 [==============================] - 1s 4ms/step - loss: 49672.9570 - mae: 49672.9570 - val_loss: 50425.6406 - val_mae: 50425.6406
Epoch 41/100
250/250 [==============================] - 1s 4ms/step - loss: 49661.9922 - mae: 49661.9922 - val_loss: 50426.9414 - val_mae: 50426.9414
Epoch 42/100
250/250 [==============================] - 1s 4ms/step - loss: 49656.1289 - mae: 49656.1289 - val_loss: 50430.3320 - val_mae: 50430.3320
Epoch 43/100
250/250 [==============================] - 1s 4ms/step - loss: 49648.5039 - mae: 49648.5039 - val_loss: 50418.2656 - val_mae: 50418.2656
Epoch 44/100
250/250 [==============================] - 1s 4ms/step - loss: 49640.1406 - mae: 49640.1406 - val_loss: 50419.1445 - val_mae: 50419.1445
Epoch 45/100
250/250 [==============================] - 1s 4ms/step - loss: 49632.1914 - mae: 49632.1914 - val_loss: 50416.5664 - val_mae: 50416.5664
Epoch 46/100
250/250 [==============================] - 1s 4ms/step - loss: 49625.9961 - mae: 49625.9961 - val_loss: 50418.4062 - val_mae: 50418.4062
Epoch 47/100
250/250 [==============================] - 1s 4ms/step - loss: 49618.7383 - mae: 49618.7383 - val_loss: 50418.2812 - val_mae: 50418.2812
Epoch 48/100
250/250 [==============================] - 1s 4ms/step - loss: 49612.1992 - mae: 49612.1992 - val_loss: 50410.6758 - val_mae: 50410.6758
Epoch 49/100
250/250 [==============================] - 1s 3ms/step - loss: 49605.4766 - mae: 49605.4766 - val_loss: 50406.1484 - val_mae: 50406.1484
Epoch 50/100
250/250 [==============================] - 1s 4ms/step - loss: 49601.3281 - mae: 49601.3281 - val_loss: 50404.7266 - val_mae: 50404.7266
Epoch 51/100
250/250 [==============================] - 1s 4ms/step - loss: 49590.9531 - mae: 49590.9531 - val_loss: 50414.7891 - val_mae: 50414.7891
Epoch 52/100
250/250 [==============================] - 1s 4ms/step - loss: 49586.8555 - mae: 49586.8555 - val_loss: 50404.2188 - val_mae: 50404.2188
Epoch 53/100
250/250 [==============================] - 1s 4ms/step - loss: 49581.3047 - mae: 49581.3047 - val_loss: 50418.8477 - val_mae: 50418.8477
Epoch 54/100
250/250 [==============================] - 1s 4ms/step - loss: 49574.2969 - mae: 49574.2969 - val_loss: 50409.0039 - val_mae: 50409.0039
Epoch 55/100
250/250 [==============================] - 1s 4ms/step - loss: 49569.1719 - mae: 49569.1719 - val_loss: 50418.4023 - val_mae: 50418.4023
Epoch 56/100
250/250 [==============================] - 1s 4ms/step - loss: 49561.3516 - mae: 49561.3516 - val_loss: 50417.9219 - val_mae: 50417.9219
Epoch 57/100
250/250 [==============================] - 1s 4ms/step - loss: 49559.2188 - mae: 49559.2188 - val_loss: 50417.8516 - val_mae: 50417.8516
Epoch 58/100
250/250 [==============================] - 1s 4ms/step - loss: 49552.9766 - mae: 49552.9766 - val_loss: 50425.0156 - val_mae: 50425.0156
Epoch 59/100
250/250 [==============================] - 1s 4ms/step - loss: 49546.4492 - mae: 49546.4492 - val_loss: 50428.4727 - val_mae: 50428.4727
Epoch 60/100
250/250 [==============================] - 1s 4ms/step - loss: 49541.8945 - mae: 49541.8945 - val_loss: 50420.1484 - val_mae: 50420.1484
Epoch 61/100
250/250 [==============================] - 1s 4ms/step - loss: 49536.8320 - mae: 49536.8320 - val_loss: 50416.0508 - val_mae: 50416.0508
Epoch 62/100
250/250 [==============================] - 1s 4ms/step - loss: 49533.1250 - mae: 49533.1250 - val_loss: 50414.9844 - val_mae: 50414.9844

In [63]:
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [65]:
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6007 (pid 4900), started 0:00:05 ago. (Use '!kill 4900' to kill it.)

In [67]:
#evaluate the model on the test data 

test_loss,test_mae=model.evaluate(X_test,y_test)
print(f'Test MAE:{test_mae}')

63/63 [==============================] - 0s 3ms/step - loss: 50404.2188 - mae: 50404.2188
Test MAE:50404.21875

In [68]:
model.save('regression_model.h5')

d:\Genai-lc-hf\tfenv\lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(